<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <nb-card>
        <nb-card-header>ADD CAR MODELS</nb-card-header>
        <nb-card-body>
          <div class="input-group clear-bottom">
            <input type="text" placeholder="Enter car model here..." class="form-control"/>
          </div>
          <div class="input-group clear-bottom">
            <select class="form-control">
              <option disabled>Make</option>
              <option *ngFor="let make of makes" value="{{ make.id }}">{{ make.make }}</option>
            </select>
          </div>
          <div class="input-group">
            <input type="button" class="form-control btn btn-hero-success" value="Save"/>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
