table {
  font-size: 14px;
}

.left-column {
  padding-right: 15px;
}

.right-column {
  border-left: 1px solid #000000;
  padding-left: 15px;
}

td {
  margin-bottom: 16px;
}

#button-area {
  margin-left: 100px;
}

.two-buttons {
  padding-left: 20px;
  padding-top: 16px;
}
