<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <nb-card>
        <nb-card-header>SELECT USER FOR WHOM TO ADD THE CAR INFORMATION</nb-card-header>
        <nb-card-body>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for user...">
            <span class="input-group-append">
            <button class="btn btn-hero-secondary btn-round input-group-text">
              Search
            </button>
          </span>
          </div>
          <hr>
          <div class="row">
            <table class="table table-bordered">
              <tr style="border: 3px solid;">
                <th style="font-size: 16px; text-align: center;">S/N</th>
                <th style="font-size: 16px;">Account Holder</th>
                <th style="text-align: center; font-size: 16px;">Phone #</th>
                <th style="text-align: center; font-size: 16px;">Email</th>
                <th style="text-align: center; font-size: 16px;">Action</th>
              </tr>
              <tr *ngFor="let user of users; let i = index">
                <td style="text-align: center;">
                  <label class="form-control">{{ i + 1 }}</label>
                </td>
                <td>
                  <label class="form-control">{{ user.firstname + ' ' + user.lastname }}</label>
                </td>
                <td style="text-align: center;">
                  <label class="form-control">{{ user.phone }}</label>
                </td>
                <td style="text-align: center;">
                  <label class="form-control">{{ user.email }}</label>
                </td>
                <td>
                  <input type="button" class="form-control btn btn-hero-info" routerLink="/pages/forms/manage-cars/page-switcher/add-car" value="Enter Car Info" (click)="goToAddCar(user.id)"/>
                </td>
              </tr>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

